<!-- views/partials/footer.ejs -->

	<footer class="footer">
		<hr>
		<p class="text-center text-muted">© Copyright 2016 ~ <a href="https://github.com/CodeForCuritiba/csv_api" target="_blank">CSV API</a> ~ <a href="http://codeforcuritiba.org" target="_blank">Code For Curitiba</a></p>
		<br/>
    </footer>
    
</body>
</html>
